
@-webkit-keyframes static {
  0% {opacity: 0.3;}
  5% {opacity: 0.1;}
  10% {opacity: 0.05;}
  20% {opacity: 0.2;}
  30% {opacity: 0;}
  45% {opacity: 0.1;}
  50% {opacity: 0.3;}
  52% {opacity: 0;}
  55% {opacity: 0.3;}
  58% {opacity: 0.1;}
  65% {opacity: 0.05;}
  80% {opacity: 0.3;}
  84% {opacity: 0.1;}
  88% {opacity: 0.05;}
  95% {opacity: 0.1;}
  100% {opacity: 0.3;}
}

@keyframes static {
  0% {opacity: 0.3;}
  5% {opacity: 0.1;}
  10% {opacity: 0.05;}
  20% {opacity: 0.2;}
  30% {opacity: 0;}
  45% {opacity: 0.1;}
  50% {opacity: 0.3;}
  52% {opacity: 0;}
  55% {opacity: 0.3;}
  58% {opacity: 0.1;}
  65% {opacity: 0.05;}
  80% {opacity: 0.3;}
  84% {opacity: 0.1;}
  88% {opacity: 0.05;}
  95% {opacity: 0.1;}
  100% {opacity: 0.3;}
}

.back {
  position: fixed;
  top: 1%;
  left: 3%;
  font-family: moderno-fb, serif;
  color: black;
}

.back:hover {
  text-decoration: line-through;
}

.col {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.photo-img {
  width: 100%;
  margin-bottom: 5%;
  opacity: 0;
}

.img-loc1 {
  z-index: 1;
  position: relative;
  color: white;
  font-family: moderno-fb;
  font-size: 1.5em;
  top: -19%;
  margin: auto;
}

.img-loc2 {
  z-index: 1;
  position: relative;
  color: white;
  font-family: Karla;
  text-transform: uppercase;
  letter-spacing: 1px;
  top: -19%;
  margin: auto;
}

.img-text {
  z-index: 1;
  position: relative;
}

.img-title {
  color: white;
  font-family: moderno-fb, serif;
  font-size: 2.5em;
  margin: 0;
}

.mobile-back {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 8%;
}

#body-photos {
  background-color: white;
  padding: 10% 15%;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  font-size: 1em;
  line-height: 2em;
}

#photos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#static {
  z-index: 1;
  opacity: 0.05;
  margin-top: -100%;
  -webkit-animation: static 10s 1s infinite reverse;
          animation: static 10s 1s infinite reverse;
}

#text-rainy {
  top: -20%;
  left: 55%;
}

#text-venice {
  text-align: center;
  top: 5%;
}

@media screen and (orientation: landscape) {

  @-webkit-keyframes sound {
    0% {}
    100% {}
  }

  @keyframes sound {
    0% {}
    100% {}
  }

  @-webkit-keyframes static {
    0% {opacity: 0.3;}
    5% {opacity: 0.1;}
    10% {opacity: 0.05;}
    20% {opacity: 0.2;}
    30% {opacity: 0;}
    45% {opacity: 0.1;}
    50% {opacity: 0.3;}
    52% {opacity: 0;}
    55% {opacity: 0.3;}
    58% {opacity: 0.1;}
    65% {opacity: 0.05;}
    80% {opacity: 0.3;}
    84% {opacity: 0.1;}
    88% {opacity: 0.05;}
    95% {opacity: 0.1;}
    100% {opacity: 0.3;}
  }

  @keyframes static {
    0% {opacity: 0.3;}
    5% {opacity: 0.1;}
    10% {opacity: 0.05;}
    20% {opacity: 0.2;}
    30% {opacity: 0;}
    45% {opacity: 0.1;}
    50% {opacity: 0.3;}
    52% {opacity: 0;}
    55% {opacity: 0.3;}
    58% {opacity: 0.1;}
    65% {opacity: 0.05;}
    80% {opacity: 0.3;}
    84% {opacity: 0.1;}
    88% {opacity: 0.05;}
    95% {opacity: 0.1;}
    100% {opacity: 0.3;}
  }

  .back {
    position: fixed;
    top: 3%;
    left: 3%;
    font-family: moderno-fb, serif;
    color: black;
  }

  .back:hover {
    text-decoration: line-through;
  }

  .col {
    width: 49%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .photo-img {
    width: 100%;
    margin-bottom: 5%;
    opacity: 0;
  }

  .img-loc1 {
    z-index: 1;
    position: relative;
    color: white;
    font-family: moderno-fb;
    font-size: 1.5em;
    top: -19%;
    margin: auto;
  }

  .img-loc2 {
    z-index: 1;
    position: relative;
    color: white;
    font-family: Karla;
    text-transform: uppercase;
    letter-spacing: 1px;
    top: -19%;
    margin: auto;
  }

  .img-text {
    z-index: 1;
    position: relative;
  }

  .img-title {
    color: white;
    font-family: moderno-fb, serif;
    font-size: 2.5em;
    margin: 0;
  }

  .mobile-back {
    display: none;
  }

  #body-photos {
    background-color: white;
    padding: 5% 10%;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: scroll;
    font-size: 1em;
    line-height: 2em;
  }

  #photos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }

  #static {
    z-index: 1;
    opacity: 0.05;
    margin-top: -100%;
    -webkit-animation: static 10s 1s infinite reverse;
            animation: static 10s 1s infinite reverse;
  }

  #text-rainy {
    top: -20%;
    left: 55%;
  }

  #text-venice {
    text-align: center;
    top: 5%;
  }

}
