
.description {
  color: #505050;
  font-size: 0.75em;
  margin: 0;
  text-align: right;
}

.info-wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.preview-img {
  width: 100%;
  background-color: white;
}

.preview-body {
  width: 100%;
  height: auto;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  border-radius: 15px;
  margin: 5% 0;
}

.preview-wrapper {
  width: 100%;
  height: auto;
  margin: 5% auto;
  display: block;
}

.title {
  margin: 0;
  text-align: left;
  font-family: 'Yeseva One', serif;
  font-size: 1.5em;
  font-weight: bold;
}


@media screen and (min-width: 600px) and (orientation: portrait) {

  .description {
    font-size: 1.5em;
  }

  .title {
    font-size: 2em;
  }

}

@media only screen and (min-width: 600px) and (orientation: landscape) {

  @-webkit-keyframes shadow {
    0% {-webkit-box-shadow: 0;box-shadow: 0}
    100% {-webkit-box-shadow: lightgrey 0 0 30px;box-shadow: lightgrey 0 0 30px}
  }

  @keyframes shadow {
    0% {-webkit-box-shadow: 0;box-shadow: 0}
    100% {-webkit-box-shadow: lightgrey 0 0 30px;box-shadow: lightgrey 0 0 30px}
  }

  @-webkit-keyframes fade {
    0% {opacity: 1}
    100% {opacity: 0.7}
  }

  @keyframes fade {
    0% {opacity: 1}
    100% {opacity: 0.7}
  }

  @-webkit-keyframes transform {
    0% {-webkit-transform: matrix(1, 0, 0, 1, 0, 0);transform: matrix(1, 0, 0, 1, 0, 0)}
    25% {-webkit-transform: matrix(1, 0.1, 0.1, 1, 0, 0);transform: matrix(1, 0.1, 0.1, 1, 0, 0)}
    50% {-webkit-transform: matrix(1, 0, 0, 1, 0, 0);transform: matrix(1, 0, 0, 1, 0, 0)}
    100% {-webkit-transform: matrix(1, -0.1, -0.1, 1, 0, 0);transform: matrix(1, -0.1, -0.1, 1, 0, 0)}
  }

  @keyframes transform {
    0% {-webkit-transform: matrix(1, 0, 0, 1, 0, 0);transform: matrix(1, 0, 0, 1, 0, 0)}
    25% {-webkit-transform: matrix(1, 0.1, 0.1, 1, 0, 0);transform: matrix(1, 0.1, 0.1, 1, 0, 0)}
    50% {-webkit-transform: matrix(1, 0, 0, 1, 0, 0);transform: matrix(1, 0, 0, 1, 0, 0)}
    100% {-webkit-transform: matrix(1, -0.1, -0.1, 1, 0, 0);transform: matrix(1, -0.1, -0.1, 1, 0, 0)}
  }

  @-webkit-keyframes border {
    0% {border: #F8F7F8 2px solid}
    100% {border: lightgrey 2px solid}
  }

  @keyframes border {
    0% {border: #F8F7F8 2px solid}
    100% {border: lightgrey 2px solid}
  }

  @-webkit-keyframes shift-right {
    0% {margin-left: 0;}
    100% {margin-left: 4%;}
  }

  @keyframes shift-right {
    0% {margin-left: 0;}
    100% {margin-left: 4%;}
  }

  .description {
    font-size: 0.75em;
  }

  .info-wrapper {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
  }

  .preview-img {
    width: 100%;
    /*border: #F8F7F8 2px solid;*/
  }

  .preview-body {
    width: 100%;
    height: auto;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    margin: 2% 0;
  }

  .preview-body:hover .info-wrapper {
    -webkit-animation: shift-right 0.5s forwards ease-in-out;
            animation: shift-right 0.5s forwards ease-in-out;
  }

  .preview-wrapper {

  }

  .title {
    margin: 0;
    color: white;
    font-size: 1.25em;
  }
}
