
.header {
  text-align: left;
  font-size: 1.5em;
  font-family: 'Crimson Text', serif;
  line-height: 1.75em;
  width: 100%;
}

.highlight {
  /* background-color: #E5F2FF; */
  font-weight: bold;
}

.img {
  width: 100%;
}

.img-wrapper {
  width: 100%;
  margin: 5% 0;
}

.img-2-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img-wrapper-25 {
  width: 40%;
}

.img-wrapper-30, .img-wrapper-40, .img-wrapper-70, .img-wrapper-80, .img-wrapper-90 {
  width: 100%;
}

/* .img-wrapper-100-plus, .img-wrapper-full {
  width: 100%;
  margin-left: -10%;
  margin-right: -10%;
} */

.images {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}

.info {
  font-size: 0.8em;
}

.italic {
  font-style: italic;
}

.links {
  display: none;
}

.mobile-back {
  position: fixed;
  top: 5%;
  left: 3%;
  width: 6%;
  display: block;
}

.overview-img {
  width: 100%;
  height: 60%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}

.overview-info {
  width: 50%;
  margin: 2% 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.overview-text {
}

.overview-title {
  font-size: 2.5em;
  margin: 5% 0 3% 0;
  font-family: 'Crimson Text', serif;
  color: black;
  line-height: 1.5em;
}

/* .proj-body-text {
  position: relative;
  top: 70%;
} */

.proj-name {
  font-family: 'Crimson Text', serif;
  font-size: 1.75em;
}

.proj-subtitle {
  font-family: 'Inconsolata', sans-serif;
  color: #505050;
  width: 100%;
}

.space-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.subtext {
  color: #909090;
  text-align: center;
  width: 100%;
  margin: 1em auto;
  font-style: italic;
  font-size: 1em;
  font-family: 'Inconsolata', sans-serif;
}

.text {
  line-height: 2.2em;
}

.text-wrapper {
  width: 100%;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

#body-proj {
  background-color: white;
  padding: 3rem;
  margin: 0 0 10rem 0;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1em;
  line-height: 2em;
}

#overview-chairish {
  background-image: url('./chairish/chairish-cover.png');
  background-size: cover;
  background-position: center;
}

#overview-square {
  background-image: url('./square/header.png');
  background-position: top;
  background-size: cover;
}


/* TABLET PORTRAIT */
@media screen and (min-width: 600px) and (orientation: portrait) {

  /* .img-wrapper-full {
    width: 180%;
    margin: 0 -40%;
  } */

  .link-proj {
    display: block;
    transition: color .2s ease-in-out;
  }

  .link-proj:hover {
    color: #3864FF;
  }

  .links {
    position: absolute;
    top: 65%;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: row;
        flex-direction: row;
    height: 20%;
    width: 100%;
    padding: 3% 3%;
    font-family: 'Inconsolata', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
  }

  .mobile-back {
    display: none;
  }

  .overview-info {
    width: 40%;
    margin: 0;
  }

  /* .proj-body-text {
    top: 65%;
  } */

  .proj-subtitle {
    width: 20%;
  }

  .text-wrapper {
    width: 70%;
  }

  .wrapper {
    -ms-flex-direction: row;
        flex-direction: row;
  }

  #body-proj {
    padding: 3rem;
  }

}

/* TABLET LANDSCAPE */
@media screen and (min-width: 600px) and (orientation: landscape) {

  .images {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .img {
    width: 100%;
  }

  .img-2-wrapper {
    flex-direction: row;
  }

  .img-wrapper {
    width: 47%;
    /*box-shadow: 0 0 4px 0 lightgrey;*/
  }

  .img-wrapper-25 {
    width: 25%;
  }

  .img-wrapper-30 {
    width: 30%;
  }

  .img-wrapper-40 {
    width: 40%;
  }

  .img-wrapper-70 {
    width: 70%;
  }

  .img-wrapper-80 {
    width: 80%;
  }

  .img-wrapper-90 {
    width: 90%;
  }

  .img-wrapper-100 {
    width: 100%;
  }

  /* .img-wrapper-100-plus {
    width: 160%;
    margin: 0 -30%;
  }

  .img-wrapper-full {
    width: 202%;
    margin: 0 -51%;
  } */

  .link-proj {
    display: block;
    transition: color .2s ease-in-out;
  }

  .link-proj:hover {
    color: #3864FF;
  }

  .links {
    position: absolute;
    top: 65%;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: row;
        flex-direction: row;
    height: 20%;
    width: 100%;
    padding: 3% 3%;
    font-family: 'Inconsolata', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
  }

  .mobile-back {
    display: none;
  }

  .overview-info {
    width: 30%;
    margin: 0;
  }
/* 
  .proj-body-text {
    top: 70%;
  } */

  .proj-subtitle {
    width: 20%;
  }

  .text {
    line-height: 2.2em;
  }

  .text-wrapper {
    width: 70%;
  }

  .wrapper {
    -ms-flex-direction: row;
        flex-direction: row;
  }

  /* #body-proj {
    padding: 3rem;
  } */

}

@media screen and (min-width: 1200px) and (orientation: landscape) {

  .divider {
    width: 50%;
    margin-right: 50%;
    border: 0.5px solid lightgrey;
  }

  .img-wrapper-full {
    width: 100%;
    /* margin: 0 -65%; */
  }

  .overview-info {
    width: 40%;
  }

  /* #body-proj {
    padding: 3% 25%;
  } */

}
